.dashboard {
  display: flex;
  min-height: 100vh;
  justify-content: center; /* Centrer horizontalement */
  align-items: center;
}

.dashboard-app {
  display: flex;
  flex-grow: 0;
  margin-top: 84px;
}
@media (min-width: 992px) {
  .dashboard-app {
      margin-left: 268px;
  }

  .dashboard-compact .dashboard-app {
      margin-left: 0px;
  }
}


@media (max-width: 768px) {
  .dashboard-content {
      padding: 1px px;
      
  } 
}





h1{
    font-size: 50px;
    color: #a57d7d;
    text-align: center;
    margin-bottom: 50px;
    
   
    
}
.coordonnees .col-md-4{
  margin-top: 100px;
}


.expos{
  text-align: center;
}

.expos ul   {
  padding: 20px ;
  border-radius: 50px ;
  list-style: none;
  background: #8c6969;
  
}
  
  